<!-- Footer Start -->
<div class="container-fluid bg-dark text-white footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="navbar-brand d-flex flex-column align-items-start me-3" style="max-width: 280px;">
                <img src="img/logo.png" alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;">
                </a>
                <p class="mb-0">Đại lý / đối tác ủy quyền của KEITH Mfg. Co, tại Việt Nam</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Địa chỉ</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Văn Phòng: 39 Chu Văn An, P. Hiệp Phú, TP. Thủ Đức, TP. Hồ Chí Minh</p>
                <p><i class="fa fa-map-marker-alt me-3"></i>Nhà xưởng: DT741, Kỉnh Nhượng, H. Phú Giáo, Tỉnh Bình Dương</p>
                <p><i class="fa fa-phone-alt me-3"></i>0907.917.301</p>
                <p><i class="fa fa-envelope me-3"></i>info@keithwalkingfloor.vn</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Liên kết</h5>
                <a class="btn btn-link" href="aboutnhutin.html">Về Như Tín</a>
                <a class="btn btn-link" href="aboutkeith.html">Về KEITH</a>
                <a class="btn btn-link" href="giaiphap.html">Giải pháp</a>
                <a class="btn btn-link" href="index.html">Trang chủ</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4">Kết nối</h5>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    Copyright 2025 &copy; <a class="border-bottom" href="index.html">Keith Walking Floor.vn</a>, All Right Reserved.
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">Việt Hoàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Floating Contacts -->
<div class="fab-zalo"><a class="fab-circle" href="https://zalo.me/0907917301" target="_blank" rel="noopener" title="Chat Zalo">Zalo</a></div>
<div class="fab-call"><a class="fab-circle" href="tel:0907917301" title="Gọi ngay"><i class="fa fa-phone"></i></a></div>

<!-- Back to Top -->
<a href="#!" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
